# Huawei Private Cloud dataset release demo notebook

This notebook explains how to load and use the Huawei Private dataset.

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from glob import glob
from tqdm import tqdm
import os
import gc

In [2]:
# define home dir
rt = 'datasets/private_dataset/'
print('Reading from directory: {}'.format(rt))

Reading from directory: datasets/private_dataset/

In [3]:
# get all per-second requests files

filenames_list = glob(rt+'/requests_second/*.csv')
filenames_list.sort()
print(filenames_list[:5])
print('We have {} requests per second filenames'.format(len(filenames_list)))

['datasets/private_dataset//requests_second/day_000.csv', 'datasets/private_dataset//requests_second/day_001.csv', 'datasets/private_dataset//requests_second/day_002.csv', 'datasets/private_dataset//requests_second/day_003.csv', 'datasets/private_dataset//requests_second/day_004.csv']
We have 141 requests per second filenames

In [4]:
# reading the all per-second requests files may take up to 40GB of memory
dfs_list = []
for filename in tqdm(filenames_list):
    # read the entire file, or read just the columns we want by passing usecols = ['time', 'day', 0, 1, 2] to pd.read_csv()
    df_i = pd.read_csv(filename, index_col=None)
    dfs_list.append(df_i)

  0%|          | 0/141 [00:00<?, ?it/s]

100%|██████████| 141/141 [03:19<00:00,  1.42s/it]

In [5]:
df_requests = pd.concat(dfs_list)
df_requests

,day,time,0,1,2,3,4,5,6,7,...,190,191,192,193,194,195,196,197,198,199
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,6.0,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,1.0
1,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.0,NaN,NaN,NaN,38.0,NaN,NaN,NaN,NaN,NaN
2,0,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,15.0,NaN,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN
3,0,3,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,16.0,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN
4,0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,NaN,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86395,234,20303995,NaN,3.0,2.0,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,364.0,NaN,NaN,NaN,NaN,NaN
86396,234,20303996,NaN,5.0,2.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,397.0,NaN,NaN,NaN,NaN,NaN
86397,234,20303997,NaN,3.0,1.0,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,396.0,NaN,NaN,NaN,NaN,NaN
86398,234,20303998,NaN,2.0,2.0,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,358.0,NaN,NaN,NaN,NaN,2.0
86399,234,20303999,NaN,3.0,3.0,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,383.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
fn_nr = 160

fig = plt.figure(figsize=(16, 3))

plt.scatter(df_requests['time'], df_requests[str(fn_nr)], s=1)
plt.xlabel('Time in seconds')
plt.ylabel('Requests per second')
plt.title('[Full length] Requests per second over time for function nr {}'.format(fn_nr))
plt.show()

n_days = 7
fig = plt.figure(figsize=(16, 3))
plt.scatter(df_requests['time'], df_requests[str(fn_nr)], s=1)
plt.xlabel('Time in seconds')
plt.ylabel('Requests per second')
plt.title('[First {} days] Requests per second over time for function nr {}'.format(n_days, str(fn_nr)))
plt.xlim(0, 86400*n_days)
plt.show()

In [7]:
# get all per-second requests files

filenames_list = glob(rt+'/requests_minute/*.csv')
filenames_list.sort()
print(filenames_list[:5])
print('We have {} requests per second filenames'.format(len(filenames_list)))

['datasets/private_dataset//requests_minute/day_000.csv', 'datasets/private_dataset//requests_minute/day_001.csv', 'datasets/private_dataset//requests_minute/day_002.csv', 'datasets/private_dataset//requests_minute/day_003.csv', 'datasets/private_dataset//requests_minute/day_004.csv']
We have 141 requests per second filenames

In [ ]:
# reading the all per-second requests files may take up to 40GB of memory
dfs_list = []
for filename in tqdm(filenames_list):
    # read the entire file, or read just the columns we want by passing usecols = ['time', 'day', 0, 1, 2] to pd.read_csv()
    df_i = pd.read_csv(filename, index_col=None)
    dfs_list.append(df_i)

In [9]:
df_requests_minute = pd.concat(dfs_list)
df_requests_minute

,day,time,0,1,2,3,4,5,6,7,...,190,191,192,193,194,195,196,197,198,199
0,0,0,NaN,NaN,NaN,NaN,6.0,6.0,98.0,NaN,...,833.0,NaN,NaN,NaN,2891,24.0,NaN,NaN,NaN,23.0
1,0,60,NaN,NaN,NaN,NaN,29.0,29.0,83.0,NaN,...,752.0,NaN,NaN,NaN,2607,16.0,NaN,NaN,NaN,23.0
2,0,120,NaN,NaN,NaN,NaN,12.0,12.0,72.0,NaN,...,835.0,NaN,NaN,NaN,2598,9.0,NaN,NaN,NaN,25.0
3,0,180,NaN,NaN,NaN,NaN,18.0,18.0,106.0,NaN,...,1005.0,NaN,NaN,NaN,2617,17.0,NaN,NaN,NaN,28.0
4,0,240,NaN,NaN,NaN,NaN,4.0,4.0,154.0,NaN,...,858.0,NaN,NaN,NaN,2572,26.0,NaN,NaN,NaN,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,234,20303700,NaN,264.0,152.0,NaN,NaN,NaN,136.0,NaN,...,NaN,NaN,NaN,NaN,33038,14.0,NaN,NaN,NaN,19.0
1436,234,20303760,NaN,278.0,155.0,NaN,NaN,NaN,85.0,NaN,...,NaN,NaN,NaN,NaN,33013,18.0,NaN,NaN,NaN,28.0
1437,234,20303820,NaN,260.0,150.0,NaN,NaN,NaN,125.0,NaN,...,NaN,NaN,NaN,NaN,32686,8.0,NaN,NaN,NaN,26.0
1438,234,20303880,NaN,279.0,140.0,NaN,NaN,NaN,129.0,NaN,...,NaN,NaN,NaN,NaN,31737,13.0,NaN,NaN,NaN,37.0
1439,234,20303940,NaN,265.0,152.0,NaN,NaN,NaN,96.0,NaN,...,NaN,NaN,NaN,NaN,26644,6.0,NaN,NaN,NaN,17.0

In [ ]:
fn_nr = 160

fig = plt.figure(figsize=(16, 3))

plt.scatter(df_requests_minute['time'], df_requests_minute[str(fn_nr)], s=1)
plt.xlabel('Time in seconds')
plt.ylabel('Requests per second')
plt.title('[Full length] Requests per second over time for function nr {}'.format(fn_nr))
plt.show()

n_days = 7
fig = plt.figure(figsize=(16, 3))
plt.scatter(df_requests_minute['time'], df_requests_minute[str(fn_nr)], s=1)
plt.xlabel('Time in seconds')
plt.ylabel('Requests per second')
plt.title('[First {} days] Requests per second over time for function nr {}'.format(n_days, str(fn_nr)))
plt.xlim(0, 86400*n_days)
plt.show()

### Per-second vs per-minute plots

This section shows how we can compare per-second and per-minute data.

The original requests data is per second. To get per-minute data, we ADDED the number of requests in non-overlapping 60-second windows.

Since all timestamps are in seconds, we can plot per-second and per-minute data on the same plot to see the effect of the aggregation. We add large blue markers to the per-minute plot to show the exact locations of the aggregated points.

In [11]:
# read per-second and per-minute requests files for the same day
df_req_sec = pd.read_csv(rt + '/requests_second/day_000.csv')
df_req_min = pd.read_csv(rt + '/requests_minute/day_000.csv')

In [ ]:
# pick some nice functions to visualise
fn_nrs_list = ['28', '72', '150']

# define an interval to zoom in on with of size 'gap' in seconds
start = int(51000)
gap = 60*60*0.25            
end = start + gap

# slice dataframes
df_req_sec_slice = df_req_sec[(df_req_sec['time']<end) & (df_req_sec['time']>start)]
df_req_min_slice = df_req_min[(df_req_min['time']<end) & (df_req_min['time']>start)]


for fn_nr in fn_nrs_list:
    fig = plt.figure(figsize=(16, 3))

    plt.plot(df_req_sec_slice['time'], df_req_sec_slice[fn_nr], color='red', label='requests per second')

    #note that we need to divide requests per minute by 60 because the aggregated version has been SUMMED
    plt.plot(df_req_min_slice['time'], df_req_min_slice[fn_nr]/(60), label='requests per minute', marker=".", markersize=20)
    plt.legend(loc='upper right')
    plt.xlabel('Time in seconds')
    plt.ylabel('Requests per second')
    plt.title('Requests per second and per minute over time for function nr {} for {} minutes'.format(fn_nr, (end-start)/60), fontsize=20)
    plt.show()

### Visualising CPU usage

Just like requests, we can visualise CPU usage over time

In [13]:
filenames_list = glob(rt+'/cpu_usage_minute/*.csv')
filenames_list.sort()
print(filenames_list[:5])
print('We have {} cpu per minute filenames'.format(len(filenames_list)))

dfs_list = []
for filename in tqdm(filenames_list):
    df_i = pd.read_csv(filename, index_col=None)
    dfs_list.append(df_i)

df_cpu_usage = pd.concat(dfs_list)
df_cpu_usage

['datasets/private_dataset//cpu_usage_minute/day_000.csv', 'datasets/private_dataset//cpu_usage_minute/day_001.csv', 'datasets/private_dataset//cpu_usage_minute/day_002.csv', 'datasets/private_dataset//cpu_usage_minute/day_003.csv', 'datasets/private_dataset//cpu_usage_minute/day_004.csv']
We have 141 cpu per minute filenames

100%|██████████| 141/141 [00:05<00:00, 23.88it/s]

,day,time,0,1,2,3,4,5,6,7,...,190,191,192,193,194,195,196,197,198,199
0,0,0,NaN,NaN,NaN,NaN,0.003,0.003,0.003,NaN,...,0.005,NaN,NaN,NaN,0.056,0.044,NaN,NaN,NaN,0.001
1,0,60,NaN,NaN,NaN,NaN,0.004,0.004,0.004,NaN,...,0.005,NaN,NaN,NaN,0.056,0.028,NaN,NaN,NaN,0.001
2,0,120,NaN,NaN,NaN,NaN,0.003,0.003,0.003,NaN,...,0.005,NaN,NaN,NaN,0.056,0.017,NaN,NaN,NaN,0.002
3,0,180,NaN,NaN,NaN,NaN,0.004,0.003,0.004,NaN,...,0.005,NaN,NaN,NaN,0.053,0.010,NaN,NaN,NaN,0.001
4,0,240,NaN,NaN,NaN,NaN,0.003,0.004,0.004,NaN,...,0.005,NaN,NaN,NaN,0.058,0.028,NaN,NaN,NaN,0.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,234,20303700,NaN,0.010,0.009,NaN,NaN,NaN,0.004,NaN,...,NaN,NaN,NaN,NaN,0.068,0.015,NaN,NaN,NaN,0.001
1436,234,20303760,NaN,0.015,0.008,NaN,NaN,NaN,0.002,NaN,...,NaN,NaN,NaN,NaN,0.066,0.020,NaN,NaN,NaN,0.002
1437,234,20303820,NaN,0.014,0.015,NaN,NaN,NaN,0.004,NaN,...,NaN,NaN,NaN,NaN,0.067,0.012,NaN,NaN,NaN,0.002
1438,234,20303880,NaN,0.013,0.009,NaN,NaN,NaN,0.004,NaN,...,NaN,NaN,NaN,NaN,0.068,0.021,NaN,NaN,NaN,0.002
1439,234,20303940,NaN,0.011,0.009,NaN,NaN,NaN,0.004,NaN,...,NaN,NaN,NaN,NaN,0.065,0.017,NaN,NaN,NaN,0.001

In [ ]:
fig = plt.figure(figsize=(16, 3))

plt.scatter(df_cpu_usage['time'], df_cpu_usage['150'], s=1)
plt.xlabel('Time in seconds')
plt.ylabel('cpu usage per minute')
plt.title('[Full length] cpu usage per minute over time for function nr 150')
plt.show()

n_days = 7
fig = plt.figure(figsize=(16, 3))
plt.scatter(df_cpu_usage['time'], df_cpu_usage['150'], s=1)
plt.xlabel('Time in seconds')
plt.ylabel('cpu usage per minute')
plt.title('[First {} days] cpu usage per minute over time for function nr 150'.format(n_days))
plt.xlim(0, 86400*n_days)
plt.show()